<div class="modal-header src-header-container">
  <h2 class="src-header">Source Code Conflicts</h2>
</div>
<div class="modal-body src-body">
  <h3 class="src-reminder">Please choose between this source code and your saved one</h3>
  <div class="src-container">
    <span class="src-span">
      There appears to be a saved source code on your account.
    </span>
    <span class="src-span">
      If you want, you can either choose the source code that you are writing at the moment, or your saved source code.
    </span>
    <div class="src-buttons register-buttons">
      <button id="1" (click)="onClick($event)" class="src-button src-classic">Continue using this one</button>
      <button id="2" (click)="onClick($event)" class="src-button src-red">Load the saved one</button>
    </div>
  </div>
</div>
